# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# VS Code Settings
.vscode/

# Temporary PDF Files
temp_*.pdf

# Environment Variables
.env

# Windows Files
Thumbs.db

# Mac Files
.DS_Store